<section id="pie-pagina">
    <footer>
      <div class="footer-container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <h2 class="footer-title"> Redes </h2><br>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="Cet-container">
              <a class="footer-links" href="https://campus.cet30.edu.ar/"> <img src="https://campus.cet30.edu.ar/pluginfile.php/1/core_admin/logo/0x150/1600651687/logo-trans-300.png" width="55" height="55" class="rounded float-left" alt="CET 30"></a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="Bootstrap-container">
              <a class="footer-links" href="https://getbootstrap.com/"> <img src="https://i.stack.imgur.com/dMXbE.png" width="95" height="70" class="rounded float-left" alt="Bootstrap"></a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="Angular-container">
              <a class="footer-links" href="https://angular.io/"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" width="50" height="50" class="rounded float-left" alt="Telegram"></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
