<section id="pie-pagina">
  <div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <!-- direccion -->
                <div class="col-sm-4 col-md-9 item">
                    <ul>
                        <li><p>Visitanos en: </p></li>
                        <li><p>JJ Lastra 5600, Neuquén, Neuquén, Argentina</p></li>
                    </ul>
                </div>
                <!-- mapa -->
                <div class="col-sm-4 col-md-9 item">
                  <ul>
                      <li>
                        <a href="https://goo.gl/maps/hKTSidawbmA5gJMh8">
                        <img class="img-map" src="https://www.google.com/maps/vt/data=AnbUy1eX4QWmVFmHqg8BJhEGeSpNZePW2iWEdH0A1Ou9_5BS95za0NSaSXZpG5Va6PgTGLS4FDrd8M4lT7x7YMT9BfIgNJmgKXk1H1QG-iFjD5nFy0j5j6FXM_mSojF0LsQxRwoMdg6hjOsUxU41mnEsVGo-GKFqCdUXO4bihYuU8aE0ZBu0DK2WNNisO9d1XMLsm29R0ILRpSFSIWB0STzZsPZuOM1q-OuxSA-SjzTN7qU4WZyrjv0xv8dK0-C0TrJCfUOvuX_DC8TzUKPi4HEbYiK3f88aFTbF" alt="mapa">
                        </a>
                      </li>
                    </ul>
              </div>
                <div class="col-lg3- item social">
                    <p class="copyright">Serins © 2012</p>
                </div>
            </div>
        </div>
    </footer>
</div>
  </section>