<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">SERINS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="d-flex navbar-nav h-100 w-100 text-md-center">
            <li class="nav-item flex-fill">
                <a class="nav-link fs-4" href="#" routerLink="inicio">Inicio</a>
            </li>
            <li class="nav-item flex-fill">
                <a class="nav-link fs-4" href="#" routerLink="equipo">Equipo</a>
            </li>
            <li class="nav-item flex-fill">
                <a class="nav-link fs-4" href="#" routerLink="servicios">Servicios</a>
            </li>
            <li class="nav-item flex-fill">
                <a class="nav-link fs-4" href="#" routerLink="casos-exito">Casos de éxito</a>
            </li>
            <li class="nav-item flex-fill">
                <a class="nav-link fs-4" href="#" routerLink="contacto">Contacto</a>
            </li>
        </ul>
    </div>
</nav>