<!--Imagenes-->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
            <div class="image"> <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                <div class="overlay">
                    <p class="amount">$399</p>
                    <p class="h4">Group Tour in Maldives</p>
                    <p class="textmuted">Ameeru Ahmed magu male,female</p>
                    <ul class="list-unstyled d-flex ">
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
            <div class="image"> <img src="https://images.pexels.com/photos/2659475/pexels-photo-2659475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                <div class="overlay">
                    <p class="amount">$399</p>
                    <p class="h4">Group Tour in Maldives</p>
                    <p class="textmuted">Ameeru Ahmed magu male,female</p>
                    <ul class="list-unstyled d-flex ">
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
            <div class="image"> <img src="https://images.pexels.com/photos/4388165/pexels-photo-4388165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                <div class="overlay">
                    <p class="amount">$399</p>
                    <p class="h4">Group Tour in Maldives</p>
                    <p class="textmuted">Ameeru Ahmed magu male,female</p>
                    <ul class="list-unstyled d-flex ">
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
            <div class="image"> <img src="https://images.pexels.com/photos/4577718/pexels-photo-4577718.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                <div class="overlay">
                    <p class="amount">$399</p>
                    <p class="h4">Group Tour in Maldives</p>
                    <p class="textmuted">Ameeru Ahmed magu male,female</p>
                    <ul class="list-unstyled d-flex ">
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
            <div class="image"> <img src="https://images.pexels.com/photos/3449662/pexels-photo-3449662.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                <div class="overlay">
                    <p class="amount">$399</p>
                    <p class="h4">Group Tour in Maldives</p>
                    <p class="textmuted">Ameeru Ahmed magu male,female</p>
                    <ul class="list-unstyled d-flex ">
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
            <div class="image"> <img src="https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                <div class="overlay">
                    <p class="amount">$399</p>
                    <p class="h4">Group Tour in Maldives</p>
                    <p class="textmuted">Ameeru Ahmed magu male,female</p>
                    <ul class="list-unstyled d-flex ">
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star"></span></li>
                        <li><span class="fas fa-star-half-alt"><span class="ms-2 review">500 reviews</span> </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Testimonios-->
<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen. </p> <img src="https://i.imgur.com/lE89Aey.jpg">
                    <div id="image-caption">Nick Doe</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                    <div id="image-caption">Cromption Greves</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                    <div id="image-caption">Harry Mon</div>
                </div>
            </div>
        </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fas fa-arrow-right'></i> </a>
    </div>
</div>
