<div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src=''> </div>
        <div class="content">
            <h2>Jonathan Ricks</h2>
            <p>CEO <br> Contacto: 023641223 <br> Email: JohnSerins@gmail.com</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src=''> </div>
        <div class="content">
            <h2>Jason Smith</h2>>
            <p>Co-Funder <br> Contacto: 023547854 <br> Email: JasonSerins@gmail.com</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src=''> </div>
        <div class="content">
            <h2>Lirazel Gray</h2>
            <p class="description">Departamento de Marketing<br> Se unió en: 18/04/2017 <br> Email: Liz22Gray@gmail.com <br></p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src=''> </div>
        <div class="content">
            <h2>Lucy Westenra</h2>
            <p>Profesional de Seguridad <br> Se unió en: 11/07/2014 <br> Email: West-enraLucy@gmail.com</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src=''> </div>
        <div class="content">
            <h2>Edmund Harker</h2>
            <p>Especialista en Redes <br> Se unió en: 04/12/2014 <br> Email: Ed2011H@gmail.com </p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src=''> </div>
        <div class="content">
            <h2>Hailey Roberts</h2>
            <p>Especialista en Redes <br> Se unió en: 20/05/2016 <br> Email: RbHailey@gmail.com</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src=''> </div>
        <div class="content">
            <h2>Philippe Torner</h2>
            <p>Especialista en Ciberseguridad <br> Se unió en: 30/10/2016 <br> Email: Phil776@gmail.com</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src=''> </div>
        <div class="content">
            <h2>Kelly Valentine</h2>
            <p>Técnica Superior en Redes Informáticas <br> Se unió en: 29/08/2015 <br> Email: Valentine12@gmail.com</p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column">
        <div class='imgContainer'> <img src=''> </div>
        <div class="content">
            <h2>Jackson Doe</h2>
            <p>Técnico Superior en Redes Informáticas <br> Se unió en: 09/11/2017 <br> Email: Doe_jjackson@gmail.com</p>
        </div>
    </div>
</div>