<header class="text-center py-5 mb-4">
    <div class="container">
      <h1 class="fw-light text-white">Conoce al equipo</h1>
    </div>
</header>
  
<!-- Page Content -->
<div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="images/jon1.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Jonathan Ricks</h5>
            <div class="card-text text-black-50">CEO <br> Contacto: 023641223 <br> Email: JohnSerins@gmail.com</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Jason Smith</h5>
            <div class="card-text text-black-50 fs-4">Co-Funder <br> Contacto: 023547854 <br> Email: JasonSerins@gmail.com</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Jackson Doe</h5>
            <div class="card-text text-black-50 fs-4">Técnico Superior en Redes Informáticas <br> Se unió en: 09/11/2017 <br> Email: Doe_jjackson@gmail.com</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Kelly Valentine</h5>
            <div class="card-text text-black-50 fs-4">Técnica Superior en Redes Informáticas <br> Se unió en: 29/08/2015 <br> Email: Valentine12@gmail.com</div>
          </div>
        </div>
      </div>
      <!-- Team Member 5 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Philippe Torner</h5>
            <div class="card-text text-black-50 fs-4">Especialista en Ciberseguridad <br> Se unió en: 30/10/2016 <br> Email: Phil776@gmail.com</div>
          </div>
        </div>
      </div>
      <!-- Team Member 6 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Hailey Roberts</h5>
            <div class="card-text text-black-50">Especialista en Redes <br> Se unió en: 20/05/2016 <br> Email: RbHailey@gmail.com</div>
          </div>
        </div>
      </div>
      <!-- Team Member 7 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Edmund Harker</h5>
            <div class="card-text text-black-50">Especialista en Redes <br> Se unió en: 04/12/2014 <br> Email: Ed2011H@gmail.com</div>
          </div>
        </div>
      </div>
      <!-- Team Member 8 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Lucy Westenra</h5>
            <div class="card-text text-black-50">Profesional de Seguridad <br> Se unió en: 11/07/2014 <br> Email: West-enraLucy@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->