/* carousel (snippet) */
@import url(https://fonts.googleapis.com/css?family=Anaheim);

.pag-title {
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 27px;
}
.carousel-container{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
    margin-bottom: 30px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: #edd6c9;
	overflow: hidden;
	border: solid 5px #b69d8f;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
/* jumbotron */
.lead {
    font-size: 20px;
    text-align: center;
    padding: 3px;
    font-family: initial;
}
.display-4 {
    text-align: center;
    font: size 35px;
    font-family: fantasy;
}
.jumbotron-text {
    margin-top: 30px;
    margin-bottom: 50px;
}
.jumbotron-fluid {
    align-items: center;
}
/* cards */
.cards-socials {
    margin-top: 40px;
    margin-bottom: 200px;
    padding: 10px;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

.socials-title {
    margin-top: 50px;
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
}

.box{
    margin:15px;
}

a:hover,
a:focus {
    text-decoration:none;
}

.fa {
    color: #000;
}

.box-top {
    padding: 60px 0px;
    background: #dedede;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-top.instagram {
    background: linear-gradient(45deg, #7952b3, #C3ABE6);
}

.box-top.twitter {
    background: linear-gradient(45deg, #235697, #6188B9);
}

.box-top.facebook {
    background: linear-gradient(45deg, #c3002f, #EB4A70);
}

.box-bottom {
    background: #FFF;
    padding: 30px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-bottom .box-text {
    padding: 10px 0px; 
}

.box-bottom .instagram-title {
    font-size: 20px;  
    font-weight: 600;
    background: linear-gradient(45deg, #7952b3, #C3ABE6); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.box-bottom .twitter-title {
    font-size: 20px;  
    font-weight: 600;
    background: linear-gradient(45deg, #235697, #6188B9);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.box-bottom .facebook-title {
    font-size: 20px; 
    font-weight: 600;
    color: #9F0025;
}
.box-text {
    font-size: 16px;
    font-family: initial;
}
.link-card {
    font-size: 16px;
    text-decoration: none;
    color: #22055A;
}
